<div id="header_content">
  <div id="header_constraint">
    <div class="logo">
      <h3>
        <%= link_to 'UNESCOplaces.org', root_path %>
      </h3>
    </div>
    <div class="menu">
      <ul>
        <li>
          <%= link_to 'Explore', features_path %>
        </li>
        <li>
          <%= link_to 'About', about_path %>
        </li>
        <li class="form">
          <div class="input">
            <div class="input_left"></div>
            <div class="input_center">
              <%= form_tag search_path, :method => :get do %>
                <%= label_tag 'searchText', 'Search...', :class => params[:q] ? 'hidden' : '' %>
                <%= text_field_tag 'searchText', params[:q], :name => 'q', :size => 20 %>
              <% end %>
            </div>
            <div class="input_right"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
