<!DOCTYPE html>
<html>
  <%= render :partial => "/shared/head" %>
  <body id="<%= feature_type %>">
    <div id='page_container'>
      <div id='page'>
        <div id='header'>
          <%= render :partial => "/shared/header" %>
        </div>
        <div id='body'>
          <div id="container">
            <%= yield %>
          </div>
        </div>
        <div id='footer'>
          <%= render :partial => "/shared/footer" %>
        </div>
      </div>
    </div>
  </body>
</html>
